{{>header}}

<title>Crud | Add</title>


{{>navbar}}

<div class="container-fluid my-3 mid-section">
    <h5 class="background text-dark text-center p-2 ">Add Emplyee Record</h5>
    <div class="container">
        <form action="/add" method="post">
            <div class="mb-3 ">
                <label for="name">Name <span class="text-danger">*</span></label>
                <input type="text" name="name" required placeholder="Full Name" class="form-control">
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Email <span class="text-danger">*</span></label>
                    <input type="email" name="email" required placeholder="Pleaseenteryouremail@gmail.com" class="form-control">
                </div>

                <div class="col-md-6 mb-3">
                    <label for="phone No.">Phone<span class="text-danger">*</span></label>
                    <input type="text" name="phone" required placeholder="+91-9874561230" class="form-control">

                </div>
                  <div class="col-md-6 mb-3">
                    <label>DOB<span class="text-danger">*</span></label>
                    <input type="text" name="DOB" required placeholder="D.O.B" class="form-control">
                </div>
                  <div class="col-md-6 mb-3">
                    <label>Sex<span class="text-danger">*</span></label>
                    <input type="text" name="sex" required placeholder="" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="Designation">Designation <span class="text-danger">*</span></label>
                    <input type="text" name="designation" required placeholder="designation" class="form-control">

                </div>
                <div class="col-md-6 mb-3">
                    <label for="Salary">Salary <span class="text-danger">*</span></label>
                    <input type="text" name="salary" required placeholder="Salary" class="form-control">

                </div>
                <div class="col-md-6 mb-3">
                    <label for="State">State</label>
                    <input type="text" name="state" placeholder="state" class="form-control">

                </div>
                <div class="col-md-6 mb-3">
                    <label for="city">City</label>
                    <input type="text" name="city" placeholder="city" class="form-control">

                </div>
                <div class="mb-3 ">
                    <label for="address">Adderss</label>
                    <input type="text" name="address" placeholder="Full Adderss" class="form-control">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn background text-dark w-100" >Submit</button>
                </div>
            </div>
    </div>
    </form>
</div>
{{>footer}}